{% extends 'base.html.twig' %}
{% block title %}
    Mes commandes
{% endblock %}
{% block navAcuueil %}
{% endblock %}
{% block navBoutique %}
{% endblock %}
{% block body %}
    <div class="center bottom15p">
        <div class="normal-cursor bubble-speech bubble-center div-bouton bluetext noneleft text25 width40" id="salon">
            <p><strong>Mes commandes</strong></p>
        </div>
    </div>
    {% for commande in commandes %}
        <div class="center bottom15p">
            <div class="normal-cursor bubble-speech bubble-center div-bouton bluetext noneleft text25 width60" id="salon">
                <p>numéro de commande : {{ commande.idCommande }}</p>
                <p> Prix total (TTC) : {{ commande.prixCommande }} €</p>
                {% if commande.idStatut.idStatut == 1 %}
                    <p>État commande : <span class="redtext" >en attente de paiement</span></p>
                {% elseif commande.idStatut.idStatut == 2 %}
                    <p>État commande : <span class="greentext">Payée</span></p>
                {% else %}
                    <p>État commande : <span class="darkbluetext">Livrée</span></p>
                {% endif %}
                <button class="pixel link-cursor button green whitetext ptop0 width150px" name="{{ commande.idCommande }}"><span
                            class="text15">Détail</span><i
                            class="fa fa-info-circle fa-3x author whitetext ptop20px"></i>
                </button>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $("button").click(function () {
               location.href = "/Profil/Commande/"+this.name;
            })
        })
    </script>
{% endblock %}
