{% extends 'base.html.twig' %}
{% block title %}
    Accueil
{% endblock %}
{% block body %}
    <div class="center">
        <div class="link-cursor bubble-speech bubble-center rotate div-bouton bluetext noneleft" id="boutique">
            <i class="fa fa-gamepad fa-3x author bluetext"></i>
            <p><strong>Boutique</strong></p>
        </div>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="link-cursor bubble-speech bubble-center rotate div-bouton orangeredtext" id="panier">
                <i class="fa fa-shopping-cart fa-3x author orangeredtext"></i>
                <p><strong>Panier</strong></p>
            </div>
            <div class="link-cursor bubble-speech bubble-center rotate div-bouton mediumorchidtext" id="commande">
                <i class="fa fa-user-circle fa-3x author mediumorchidtext"></i>
                <p><strong>Mes Commandes</strong></p>
            </div>
            {% if ( app.user.role  == "ROLE_ADMIN") %}
                <div class="link-cursor bubble-speech bubble-center rotate div-bouton greentext" id="admin">
                    <i class="fa fa-info-circle fa-3x author greentext"></i>
                    <p><strong>Administration</strong></p>
                </div>
            {% else %}
                <div class="link-cursor bubble-speech bubble-center rotate div-bouton greentext" id="deconnexion">
                    <i class="fa fa-info-circle fa-3x author greentext"></i>
                    <p><strong>se deconnecter</strong></p>
                </div>
            {% endif %}
        {% else %}
            <div class="link-cursor bubble-speech bubble-center rotate div-bouton orangeredtext" id="connexion">
                <i class="fa fa-user fa-3x author orangeredtext"></i>
                <p><strong>Connexion</strong></p>
            </div>
            <div class="link-cursor bubble-speech bubble-center rotate div-bouton mediumorchidtext" id="inscription">
                <i class="fa fa-user-plus fa-3x author mediumorchidtext"></i>
                <p><strong>Inscription</strong></p>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $("#connexion").click(function () {
                document.location.href = "/Connexion"
            })
            $("#admin").click(function () {
                document.location.href = "/admin"
            })
            $("#inscription").click(function () {
                document.location.href = "/Inscription"
            })
            $("#boutique").click(function () {
                document.location.href = "/Boutique"
            })
            $("#deconnexion").click(function () {
                document.location.href = "/deconnexion"
            })
            $("#commande").click(function () {
                document.location.href = "/Profil/Commande"
            })
            $("#panier").click(function () {
                document.location.href = "/Panier"
            })
        })
    </script>
{% endblock %}