{% extends 'base.html.twig' %}
{% block body %}
    <div class="btn-accueil" id="boutique">
        <i class="fa fa-gamepad fa-3x"></i>
        <p><strong> Boutique</strong></p>
    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="btn-accueil" id="panier">
            <i class="fa fa-shopping-cart fa-3x"></i>
            <p><strong> Panier</strong></p>
        </div>
        <div class="btn-accueil" id="compte">
            <i class="fa fa-user-circle fa-3x"></i>
            <p><strong> Mon Compte</strong></p>
        </div>
    {% else %}
        <div class="btn-accueil" id="connexion">
            <i class="fa fa-user fa-3x"></i>
            <p><strong> Connexion</strong></p>
        </div>
        <div class="btn-accueil" id="inscription">
            <i class="fa fa-user-plus fa-3x"></i>
            <p><strong> Inscription</strong></p>
        </div>
    {% endif %}
{% endblock %}