{% extends 'base.html.twig' %}
{% block title %}
    Boutique
{% endblock %}
{% block navAcuueil %}
{% endblock %}
{% block navBoutique %}
    active
{% endblock %}
{% block body %}
    <div class="center">
        <div class="link-cursor bubble-speech bubble-center rotate div-bouton bluetext noneleft" id="salon">
            <i class="fa fa-gamepad fa-3x author bluetext"></i>
            <p><strong>Console de Salon</strong></p>
        </div>
        <div class="link-cursor bubble-speech bubble-center rotate div-bouton greentext" id="portable">
            <i class="fa fa-mobile-alt fa-3x author greentext"></i>
            <p><strong>Console Portable</strong></p>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){
            $("#salon").click(function(){
                location.href = "/Boutique/console-de-salon";
            })
            $("#portable").click(function(){
                location.href = "/Boutique/console-portable";
            })
        })
    </script>
{% endblock %}