{% extends 'base.html.twig' %}
{% block title %}
    Ajout - Succés
{% endblock %}
{% block body %}
    <div class="bubble-speech bubble-center" style="font-size: 20pt; width: 40%">
        <p>Produit créé avec succés</p>
    </div>
{% endblock %}