{% extends 'base.html.twig' %}
{% block title %}
    Ajout - Succés
{% endblock %}
{% block body %}
    <div class="bubble-speech bubble-center text20 width40">
        <p>Produit créé avec succés</p>
    </div>
{% endblock %}