{% extends 'base.html.twig' %}
{% block title %}
    Paiement - Succès
{% endblock %}
{% block body %}
    <div class="bubble-speech bubble-center" style="font-size: 20pt; width: 40%">
        <p>Paiement de la commande numéro <strong>{{ id }}</strong> réussi</p>
    </div>
{% endblock %}