{% extends 'base.html.twig' %}
{% block title %}
    Reinitialisation - Succès
{% endblock %}
{% block body %}
    <div class="bubble-speech bubble-center">
        <p>Réinitialisation du mot de passe réussi</p>
        <p>Code Client : <strong>{{ id }}</strong></p>
        <p>Mot de passe : <strong>{{ mdp }}</strong></p>
    </div>
{% endblock %}