<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Accueil{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset("build/css/app.css") }}" type="text/css"/>
    <script defer src="https://use.fontawesome.com/releases/v5.0.3/js/all.js"></script>
    {% block stylesheets %}{% endblock %}
</head>
<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: darkblue">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/Accueil"><i class="fa fa-home"></i><span class=""> Accueil</span></a>
            </li>
        </ul>
        <div class="navbar-nav pull-right col-1">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="dropdown  ">
                    <button class="sr-only">Logged in as</button>
                </div>
            {% endif %}
            <li class="nav-item dropdown pull-right">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="hidden-xs fas fa-users fa-2x"></i></a>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Mon profil</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Se déconnecter</a>
                </div>
                {% else %}
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Se connecter</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">S'inscrire</a>
                </div>
            </li>
            {% endif %}
        </div>
    </div>
</nav>
<div style="text-align: center; margin-top: 20px">
    <img src="{{ asset("build/images/retrogaming-logo.491dc787.jpg") }}"/>
</div>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
<script src="{{ asset("build/js/app.js") }}"></script>
<script>$(document).ready(function () {
        console.log("test");
    })</script>
</body>
</html>
