<!DOCTYPE html>
<html class="normal-cursor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Accueil{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset("build/css/app.css") }}" type="text/css"/>
    <script src="{{ asset("build/js/app.js") }}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.3/js/all.js"></script>
    {% block stylesheets %}{% endblock %}
</head>
<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: darkblue">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link link-cursor" href="/Accueil"><i class="fa fa-home"></i><span class=""> Accueil</span></a>
            </li>
            <li class="nav-item" style="color: white">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <span>Connecter en tant que : {{ app.user.pseudo }}</span>
                {% else %}
                    <span>Non connecter</span>
                {% endif %}
            </li>
        </ul>
        <div class="navbar-nav pull-right col-1">
            <li class="nav-item dropdown pull-right">
                <a class="nav-link dropdown-toggle link-cursor" data-toggle="dropdown" href="#" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="hidden-xs fas fa-users fa-2x"></i></a>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="dropdown-menu">
                    <a class="dropdown-item link-cursor" href="#">Mon profil</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item link-cursor" href="/deconnexion">Se déconnecter</a>
                    {% if (app.user.pseudo == "Admin") %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item link-cursor" href="/admin">Administration</a>
                    {% endif %}
                </div>
                {% else %}
                <div class="dropdown-menu">
                    <a class="dropdown-item link-cursor" href="/Connexion">Se connecter</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item link-cursor" href="/Inscription">S'inscrire</a>
                </div>
            </li>
            {% endif %}
        </div>
    </div>
</nav>
<div style="text-align: center; margin-top: 20px">
    <img src="{{ asset("images/retrogaming-logo.jpg") }}" style="width: 950px; height: 350px"/>
</div>
{% block body %}
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
