<!DOCTYPE html>
<html class="normal-cursor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Accueil{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset("build/css/app.css") }}" type="text/css"/>
    <script src="{{ asset("build/js/app.js") }}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.3/js/all.js"></script>
    {% block stylesheets %}{% endblock %}
</head>
<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: darkblue">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% block navAcuueil %}active{% endblock %}">
                <a class="nav-link link-cursor" href="/Accueil"><i class="fa fa-home"></i><span class="">Accueil</span></a>
            </li>
            <li class="nav-item {% block navBoutique %}{% endblock %}">
                <a class="nav-link link-cursor" href="/Boutique"><i class="fa fa-shopping-cart"></i><span class="">Boutique</span></a>
            </li>
            <li class="nav-item {% block navPanier %}{% endblock %}">
                <a class="nav-link link-cursor" href="/Panier"><i class="fa fa-shopping-basket"></i><span class="">Panier <span id="article"></span></span></a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" style="color: white">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <span class="nav-link" style="color: white;"">Connecté en tant que : {{ app.user.pseudo }}</span>
                {% else %}
                    <span class="nav-link" style="color: white;">Non connecter</span>
                {% endif %}
            </li>
        </ul>
        <div class="navbar-nav pull-right col-1">
            <li class="nav-item dropdown pull-right">
                <a class="nav-link dropdown-toggle link-cursor" data-toggle="dropdown" href="#" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="hidden-xs fas fa-users fa-2x"></i></a>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="dropdown-menu">
                    <a class="dropdown-item link-cursor" href="#">Mon profil</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item link-cursor" href="/deconnexion">Se déconnecter</a>
                    {% if (app.user.pseudo == "Admin") %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item link-cursor" href="/admin">Administration</a>
                    {% endif %}
                </div>
                {% else %}
                <div class="dropdown-menu">
                    <a class="dropdown-item link-cursor" href="/Connexion">Se connecter</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item link-cursor" href="/Inscription">S'inscrire</a>
                </div>
            </li>
            {% endif %}
        </div>
    </div>
</nav>
<div id="egg"></div>
<div style="text-align: center; margin-top: 20px" id="image">
    <img src="{{ asset("images/retrogaming-logo.jpg") }}" style="width: 950px; height: 350px"/>
</div>
{% block body %}
{% endblock %}
{% block javascripts %}
{% endblock %}
<script>
    $(document).ready(function () {
        $("#image").click(function () {
            document.getElementById("image").innerHTML = "";
            document.getElementById("egg").innerHTML = "<table style=\"margin: auto; width:244px; background:#fff; border:1px solid #F3F3F3;\" cellspacing=\"0\" cellpadding=\"0\"><tr><td style=\"font-family:verdana; font-size:11px; color:#000; padding:5px 5px;\"><object classid=\"clsid:D27CDB6E-AE6D-11cf-96B8-444553540000\" codebase=\"http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0\" width=\"640\" height=\"480\"><param name=\"movie\" value=\"http://www.jeuxclic.com/jeux/jeux-flash-2904.swf\"><param name=\"quality\" value=\"high\"></param><param name=\"menu\" value=\"false\"></param><embed src=\"http://www.jeuxclic.com/jeux/jeux-flash-2904.swf\" width=\"640\" height=\"480\" quality=\"high\" pluginspage=\"http://www.macromedia.com/go/getflashplayer\" type=\"application/x-shockwave-flash\" menu=\"false\"></embed></object></td></tr><tr><td style=\"font-family:verdana; font-size:11px; padding:5px 10px; border-top:1px solid #F3F3F3;\" align=\"center\"><strong><a href=\"http://www.jeuxclic.com/jeux.php?id=6629\" target=\"_blank\">Super Mario flash</a></strong> | <a href=\"http://www.jeuxclic.com/categorie-jeux.php?cat=jeux-plate-forme\" target=\"_blank\"></a> avec <a href=\"http://www.jeuxclic.com\" title=\"Jeux avec Jeuxclic.com\" target=\"_blank\">Jeuxclic.com</a></td></tr></table>";
        })
    })
</script>
</body>
</html>
